
.shop-page .shop-page-content-top .collection-block .container .row .room-txt-block button:hover,
.shop-page .shop-page-content-top .collection-block .container .row .headboard-chair-txt-block button:hover,
{
  background-color: #b28f2f;
}

.shop-page .shop-page-content-top .country-style-pics-block .country-style-pic-title-block button:hover {
  color: #000;
  background-color: #fff;
}